body{
    text-align: center;
}

#tituloNavbar {
	color: red;
	font-size: 45px;
}
.row {
    margin-right: 0;
    margin-left:0;
}
.divCarousel{
    height:50%;
}
/* Crea tres columnas desiguales, una al lado de otra */
.divPrincipal{
    padding:10px 0 20px 0;
    display:inline-flex;
}
.carousel-control-prev{
    background-image: url('../resoruces/anterior.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-control-next{background-image: url('../resoruces/proximo.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}
