
body{
    background-color: aliceblue;
}

#tituloNavbar {
    color: crimson;
    font-size: 45px;
}

.titulo {
    background-color: crimson;
    text-align: center;
    padding: 7px;
    margin-bottom: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.place-title {
    color: crimson;
    text-align: center;
    padding-top: 5px;
}

.place-text{
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
}

.place-url {
    text-align: center;
}
.place-img-top {
    display: block;
    margin: auto;
    padding-top: 10px;
}

.horarioYprecio{
    height: min-content;
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;
}


.horario {
    color: crimson;
    text-align: center;
}
.precio{
    color: crimson;
    text-align: center;
}

.principal {
    display: block;
    margin: auto;
    background-color: #d5d5d5;
}
.col1 {
    padding-right: 3px;
}

.col2 {
    padding-left: 3px;
}