
body{
    background-color: aliceblue;
}

#tituloNavbar {
    color: crimson;
    font-size: 45px;
}

h1 {
    background-color: crimson;
    text-align: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.place-title {
    color: crimson;
    text-align: center;
}

.place-text{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

.place-url {
    text-align: center;
}
.place-img-top {
    align-content: center;
}

.horarioYprecio{
    height: min-content;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.horario {
    color: crimson;
    text-align: center;
}
.precio{
    color: crimson;
    text-align: center;
}
